/*
Author: Able Sense Media
Web: ablesense.com
Date of creation: 2014/01/01
*/

@import 'normalize.less';
@import 'mixins-2014.less';

//////////////////////////////////////////////////////////////////////////////////////////////
/////////////////// CONFIG ///////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////

//Shades
@white: #FFF;
@lightgrey: lighten(@grey, 10%);
@grey: #556279;
@darkgrey: darken(@grey, 10%);
@black: #000;

//text color
@text: #555; //text

//theme colors
@primary: #C44D58;
@secondary: #C7F464;
@tertiary: #4ECDC4;

//selection color
@select: @primary;

@sans: "expressway", Arial, Tahoma, sans-serif;
@serif: "ambroise-std", Georgia, serif;

//////////////////////////////////////////////////////////////////////////////////////////////
/////////////////// GENERAL //////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////

::-moz-selection, ::selection { background: @select; color: #fff; text-shadow: none; }

html {
	box-sizing: border-box;
}

html * {
	box-sizing: inherit;
}

body {
	font-family: @sans;
	font-size: 100%;
	line-height: 1.5;
	font-weight: 400;
	color: @text;
	background: @darkgrey;
}

a{
	color: @primary;
	&:visited { color: @grey; }
	&:hover, &:focus { text-decoration: none; }
	&:active { color: darken(@primary, 10%); }
}

h1                            { font-size: 2em; }
h2                            { font-size: 1.5em; }
h3                            { font-size: 1.25em; }
h4                            { font-size: 1em; text-transform: uppercase; }
h5                            { font-size: 1em; text-transform: uppercase; }
h6                            { font-size: 1em; }
h1, h2, h3, h4, h5, h6        { font-family: @serif; clear: left; margin: 1em 0 0.25em 0; line-height: 1.125; font-weight: 300; }
h1 + h2, h2 + h3, h3+ h4, h4 + h5, h5 + h6, h1:first-child { margin-top: 0; }

abbr, small,
dl, dialog, caption           { font-size: 0.75em; }
ul, ol                        { margin: 1em 0; padding-left: 2em; }
li ul, li ol                  { margin: 0; padding-left: 1em;}

p                             { word-spacing: 0; margin-bottom: 1em; }
p+p                           { text-indent: 0; }
pre                           { }
ul, ol, dl, dialog            { margin-top: 0; }

figure{
	margin: 2em 0 3em;

	&.with-caption{

	}

	figcaption{
		padding: 0.35em 0;
		font-size: 0.875em;
		font-style: italic;
		text-align: center;
		color: @grey;
	}

	img{
		display: block;
		margin: 0 auto;
	}
}

figure.quote{
	padding: 0 1em;
	margin: 2em 0;

	blockquote{
		font-size: 1.25em;
		font-style: italic;
		color: @darkgrey;
		margin: 0;

		&:before, &:after, p{
			display: inline;
		}

		&:before{
			content: '“';
		}

		&:after{
			content: '”';
		}
	}

	figcaption{
		font-size: 0.875em;
		color: @grey;
		text-align: left;
	}
}

img{
	max-width: 100%;
	height: auto;
}

table                         { width: 100%; margin-bottom: 1em; }
th, td                        { border-top: solid 1px @lightgrey; padding: 0.25em 0.25em 0; vertical-align: top; }
tr:nth-child(odd) td          { background: lighten(@lightgrey, 4%); }
th                            { font-size: 0.875em; border-top: 0; border-bottom: solid 1px darken(@lightgrey, 10%); text-align: center; color: @black; background: @lightgrey; }
td                            { text-align: center; }
tbody th                      { text-align: left; }

iframe                        { border: 0; }

form                          { overflow: visible; }
fieldset                      { margin-bottom: 1em; }
legend                        { padding: 0 0.5em; font-size: 0.75em; }
label                         { line-height: 1; display: inline-block; width: 100%; }
input, select, textarea {
	width: 100%;
	max-width: 100%;
	margin-bottom: 0.5em;
	line-height: 1;

	&:focus {
		outline: none;
	}
}

input[type="text"],
input[type="password"],
input[type="select"],
input[type="search"],
input[type="url"],
input[type="tel"],
input[type="email"],
input[type="date"],
input[type="datetime"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="number"],
input[type="range"],
input[type="color"]           { padding: 0.5em 0.5em 0.25em; border: solid 1px @grey; }

input[type="radio"],
input[type="checkbox"]        { vertical-align: top; margin: 0.25em 0.5em 0 0; }

input[type="file"]            { max-width: 16em; overflow: hidden; }


input[type="submit"],
input[type="reset"],
input[type="button"],
button {
	position: relative;
	padding: .5em 2em .35em;
	font-size: 1.25em;
	color: @white;
	background: none;
	border: none;
	border-radius: 6px;
	transition: transform .2s, background .2s;

	&:after,
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		border-radius: inherit;
		transition: transform .2s, box-shadow .2s;
	}

	&:after {
		background: @primary;
	}

	&:before {
		background: darken(@primary, 10%);
	}

	&:hover, &:focus {
		background: lighten(@primary, 3%);
		transform: translateY(-3px);
		outline: none;

		&:before {
			transform: translateY(3px);
			box-shadow: inset 0 0 2px rgba(0, 0, 0, .8), 0 3px 16px rgba(0, 0, 0, .25);
		}
	}

	&:active {
		transform: translateY(0);

		&:after {
			background: darken(@primary, 3%);
			box-shadow: inset 0 3px 8px rgba(0, 0, 0, .15);
		}

		&:before {
			transform: translateY(0);
			box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, .75);
		}
	}
}

textarea                      { overflow: auto; line-height: 1.5;}

/////////////////// Utilities ////////////////////////////////////////////////////////////////////

.preserve-ar{
	position: relative;
	padding: 30px 0 56.25%;
	height: 0;
	overflow: hidden;

	iframe, object, embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.hidden{
	visibility: hidden;
	display: none;
}

a[href^="tel:"]{
	color: @text;
	text-decoration: none;
	cursor: default;
}

strong.highlighted{
	color: @secondary;
}

//////////////////////////////////////////////////////////////////////////////////////////////
/////////////////// FLUID ////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////

header > div, footer > div, main{
	width: 94%;
	margin: 0 auto;
}

ul {
	list-style: none;
	color: @white;
}

button[form=form] {
	margin: 0 auto 1.5em;
	width: 100%;
	max-width: 20em;
	display: block;
}

form {
	margin: 1em auto;
	color: @white;

	fieldset {
		border: none;

		legend {
			position: absolute;
			text-indent: -9999em;
		}
	}

	input[list=datalist] {
		color: @darkgrey;
	}

	label {
		position: absolute;
		display: none;
		text-indent: -9999em;
	}

	input[type="text"],
	input[type="password"],
	input[type="select"],
	input[type="search"],
	input[type="url"],
	input[type="tel"],
	input[type="email"],
	input[type="date"],
	input[type="datetime"],
	input[type="month"],
	input[type="week"],
	input[type="time"],
	input[type="number"],
	input[type="range"],
	input[type=datetime-local] {
		padding: .6em 1.2em;
		background: transparent;
		border: none;
		border-bottom: solid 2px @white;
		opacity: .8;
		transition: opacity .2s, border .2s, text-indent .2s;

		&::-webkit-input-placeholder {
			color: @white;
			opacity: .5;
			transition: opacity .2s;
		}

		&:hover {
			opacity: 1;
			&::-webkit-input-placeholder {
				opacity: .7;
			}
		}

		&:focus {
			text-indent: .5em;
			border-bottom-color: @secondary;

			&::-webkit-input-placeholder {
				opacity: .2;
			}
		}

		&:required {
				&::-webkit-input-placeholder {
					&:after {
						content: '*';
					}
			}
		}

		&:not(:focus):invalid {
			color: @primary;
		}

		&:focus:valid {
			color: @secondary;
		}
	}

	div {
		position: relative;

		label {
			position: relative;
			display: inline-block;
			text-indent: 0;
			width: auto;
		}

		input[type=checkbox],
		input[type=radio] {
			position: absolute;
			left: -9999em;
		}

		input[type=checkbox] {
			& + label {
				padding: 1em;

				&:before {
					content: '\2713';
					display: inline-block;
					position: relative;
					top: .05em;
					vertical-align: bottom;
					margin: 0 .5em 0 0;
					padding: 0 .3em .4em .1em;
					width: .5em;
					height: .5em;
					color: transparent;
					background: transparent;
					border: solid 3px @primary;
					border-radius: 3px;
					@t: .2s;
					transition: color @t, background @t, border @t, transform @t;
				}

				&:hover, &:focus {
					&:before {
						border-color: lighten(@primary, 20%);
						transform: scale(1.2);
					}
				}
			}

			&:checked + label {
				&:before {
					color: darken(@secondary, 30%);
					border-color: transparent;

				}
				&:hover, &:focus {
					&:before {
						color: white;
						background: darken(@secondary, 30%);
					}
				}
			}
		}

		input[type=radio] {
			& + label {
				padding: 1em;

				&:before {
					content: '';
					display: inline-block;
					vertical-align: bottom;
					margin: 0 .5em .15em 0;
					width: .5em;
					height: .5em;
					background: transparent;
					border: solid 3px @primary;
					border-radius: 100%;
					@t: .2s;
					transition: background @t, border @t, transform @t;
				}

				&:hover, &:focus {
					&:before {
						border-color: lighten(@primary, 20%);
						transform: scale(1.2);
					}
				}
			}

			&:checked + label {
				&:before {
					border-color: @secondary;
					background: darken(@secondary, 20%);
				}
				&:hover, &:focus {
					&:before {
						background: darken(@secondary, 30%)
					}
				}
			}
		}
	}

	input[type=search] {
		box-sizing: border-box; // Not sure why this isn't inherited already,
		border-radius: 0;
		-webkit-appearance: none;
	}

	input[type=file] {
		display: block;
	}

	input[type=color] {
		height: 2.75em;
	}
}




//////////////////////////////////////////////////////////////////////////////////////////////
/////////////////// TABLETS //////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////

@media only screen and (min-width : 480px) {
	header > div, footer > div, main{
		width: 96%;
		margin: 0 2%;
	}
}


//////////////////////////////////////////////////////////////////////////////////////////////
/////////////////// DESKTOP //////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////

@media only screen and (min-width : 768px) {
	h1 { font-size: 3.25em; }
	h2 { font-size: 2.5em; }
	h3 { font-size: 2em; }
	h4 { font-size: 1.5em; }
	h5 { font-size: 1em; }
	h6 { font-size: 1em; }

	figure.quote{
		blockquote{
			font-size: 1.25em;
		}
	}

	header > div, footer > div, main{

	}
}


//////////////////////////////////////////////////////////////////////////////////////////////
/////////////////// LUXURY ///////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////


@media only screen and (min-width: 1280px) {
	header > div, footer > div, header + div{
		width: 70em;
		margin: 0 auto;
		padding: 0;
		background: blue;
	}
}

//////////////////////////////////////////////////////////////////////////////////////////////
/////////////////// PRINT ////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////

@media print {
	* { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
	a, a:visited { text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; } /* h5bp.com/t */
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	@page { margin: 0.5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
	header, footer, aside { display: none; visibility: hidden; }
}